@model ELearningMVC.Models.CourseChapter

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CourseChapter</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChapterTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChapterTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeRequiredInSec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeRequiredInSec)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
